body, html {
	height: 100%;
}

h1, p, li {
	font-size: 15px;
	line-height: 18px;
	font-family: "NewRailAlphabet-Medium", Helvetica, Arial, sans-serif;
	color: black;
	-webkit-text-size-adjust:none;
	-ms-text-size-adjust:none;
	-moz-text-size-adjust:none;
	text-size-adjust:none;
}

h1 a, p a, li a, article a {
	color: black;
	text-decoration: none;
}

h1 a:hover, p a:hover, li a:hover {
	color: red;
}

nav h1 a, nav li a {
	display: block;
	float: left;
	padding-top: 6px;
	padding-right: 18px;
	padding-left: 18px;
}

nav {
	position: absolute;
	width: 100%;
	height: 54px;
	background-image: url(plus.png);
	background-position: top right;
	background-size: 25px 54px;
	background-repeat: no-repeat;
	background-color: white;
}

article {
	position: relative;
	top: 54px;
}

article.frame {
	margin-left: 18px;
	margin-right: 18px;
}

article div.image {
	position: relative;
	width: 100%;
	padding-top: 100%;
}

article div.image+div.image {
	margin-top: 12px;
}

@media only screen and (orientation: landscape) {
	article div.image {float: left;width: calc(50% - 6px);padding-top: calc(50% - 6px);}
	article div.image+div.image {margin-top: 0;margin-left: 12px;}
}

article div.image img {
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	overflow: hidden;
}

article div.text {
	clear: both;
	height: 54px;
}

article div.text p {
	padding-top: 6px;
	color: black;
}





/** 
.test {
    height: 100%;
    height: -webkit-calc(100% - 60px);
    height: -moz-calc(100% - 60px);
    height: calc(100% - 60px);
height: ~calc(100% - 60px);
}


/** 

.frame img {
	margin-right: 6px;
	margin-left: 18px;
}

.frame img+img {
	margin-right: 18px;
	margin-left: 6px;
}

section.two img {
	float: left;
	width: 50%;
}

section.two.frame img {
	width: calc(50% - 24px);
}

section.six img {
	float: left;
	width: 33.333333%;
	width: calc(100% / 3);
	height: 50%;
}

@media only screen and (orientation: portrait) {
	section.two img {width: 100%;height: 50%;}
	section.six img {width: 50%;height: 33.333333%;height: calc(100% / 3);}
	.frame img {margin-right: 18px;margin-left: 18px;margin-bottom: 6px;}
	.frame img+img {margin-top: 6px;margin-right: 18px;margin-bottom: 0;margin-left: 18px;}
	section.two.frame div.image {width: 100%;padding-top: 100%;background: red;}
	section.two.frame div.image img {width: 100%;height 100%;margin: 0;}
}
@media only screen and (max-width: 575.98px) {
	nav li a {display: none;}
}

section div.text {
	position: absolute;
	bottom: -54px;
	width: 100%;
	height: 54px;
	background-color: white;
}

section div.text p {
	padding-top: 6px;
	padding-right: 18px;
	padding-left: 18px;
	color: black;
}

section.text p {
	margin-top: 6px;
	padding-right: 18px;
	padding-left: 18px;
	max-width: 450px;
	color: black;
}

section.text p+p {
	margin-top: 0;
	padding-top: 6px;
}

section {
	position: absolute;
	top: 54px;
	bottom: 54px;
	width: 100%;
	height: auto;
}

section.plus-animation a {
	position: absolute;
	top: 54px;
	bottom: 54px;
	width: 100%;
	height: auto;
	background-color: white;
	background-image: url("plus-animation.gif");
	background-size: 300px 300px;
	background-position: center;
	background-repeat: no-repeat;
}